@model List<CoreBusiness.Product>

@section title {
    <h1>Products</h1>
}

<div class="row mb-3">
    <div class="col-2">
        <a class="btn btn-primary" asp-controller="Products" asp-action="Add">Add</a>
    </div>
</div>

@if (Model != null && Model.Count() > 0)
{
    <table class="table table-stripped table-hover">
    <thead>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Actions</th>
    </thead>
    <tbody>
        @foreach (var product in Model)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Name</td>
                    <td>@product.Category?.Name</td>
                    <td>@product.Quantity</td>
                    <td>@product.Price?.ToString("c")</td>
                    <td>
                        <div class="d-grid gap-2 d-md-block">
                            <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id"
                                class="btn btn-primary">Edit</a>
                            <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id"
                                onclick="return confirmDelete()" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete this category?");
        }
    </script>
}